html,
body {
  font-size: 10px;
  margin: 0;
}

#header {
  background-color: #fc4f9e;
  color: #fff;
  height: 8rem;
  padding: 1.6rem 4.8rem 0;
}

.header-title {
  display: inline-block;
  margin: 0;
}

.header-brand {
  float: right;
  height: 64px;
  width: 96px;
}

#main-wrapper {
  padding: 4rem;
}
